$btn_color: #1fc7d4;
$header_color:  #9a6aff;
$footerBgTop: linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
$contact_color: #ffb237;
$color: #f4eeff;
$btm-bg-bg-change_color: #27262c;
$lang_color: #b8add2;
$learn-connect-bg_color: #1fc7d4;
$bg-change-bg_color: #666171;
$sm-icons_color: #b8add2;
$pancakes_color: #fff;


$color-scheme: dark;