#footer .bgColor {
  background-color: #fff;
}
#footer .btn-color-change {
  color: #fff;
  fill: #fff;
}
#footer .active-sun {
  fill: #ffb237 !important;
  height: 20px;
  width: 20px;
  margin: 3px;
  padding: 3px;
  border-radius: 50px;
  background-color: #27262c;
}
#footer .disabled-moon {
  background-color: transparent !important;
  fill: #27262c !important;
}
#footer .flyingCake {
  max-height: 100%;
  position: relative;
  animation-name: flyingcake;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#footer .flyingCake .cake1 {
  position: absolute;
  top: 0;
  right: 0;
}
#footer .flyingCake .cake2 {
  position: absolute;
  right: 0;
}
#footer .flyingCake .cake3 {
  position: absolute;
  right: 0px;
}
#footer #pancakeFlyingTop {
  position: relative;
  bottom: 400px;
  margin-bottom: 400px;
}
#footer #pancakeFlyingBottom {
  position: relative;
  margin-bottom: 60px;
}
@keyframes flyingcake {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 3;
    top: 20px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
#footer #startInSeconds {
  width: 100%;
  background: linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
  position: relative;
  display: flex;
  flex-direction: column;
}
#footer #startInSeconds svg {
  position: relative;
  width: 300%;
  height: 300%;
  display: block;
  top: -450px;
  left: 0;
}
#footer #svgBg {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#footer #startInSecondsMain {
  text-align: center;
  line-height: 1.5;
}
#footer #startInSecondsMain h1 {
  font-size: 2.5rem;
}
#footer #startInSecondsMain h1, #footer #startInSecondsMain:nth-child(2) {
  color: #f4eeff;
}
#footer #startInSecondsMain button {
  font-size: 16px;
  font-weight: 600;
  background-color: #1fc7d4;
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  cursor: pointer;
}
#footer #startInSecondsMain button:hover {
  background-color: #41a0a7;
}
#footer #learn {
  color: #1fc7d4;
  font-weight: 600;
}
#footer #mainFooter {
  position: relative;
  z-index: 5;
  width: 100%;
  background: #27262c;
  margin-bottom: 0;
}
#footer #startInContainer {
  position: relative;
  display: flex;
  margin: 10px 0 70px;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
#footer img {
  width: 240px;
  height: 224px;
  margin: 0;
}
#footer #mainfooterContents {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
#footer #mainFooterUp {
  display: flex;
  flex-direction: column;
}
#footer #mainFooterUpLinks {
  display: flex;
  gap: 0px;
  justify-content: space-between;
  margin: 0 50px;
}
#footer #mainFooterUpIcons {
  fill: #b8add2;
  display: flex;
  gap: 25px;
  padding-left: 50px;
  margin: 30px 0;
}
#footer #mainFooterUpIcons #telegramRegions {
  position: relative;
}
#footer #mainFooterUpIcons #telegramRegions #telegramRegionChannel {
  display: none;
}
#footer #mainFooterUpIcons #telegramRegions #telegramRegionChannel {
  position: relative;
  bottom: 30px;
}
#footer #mainFooterUpIcons #telegramRegions #telegramRegionChannel a {
  color: #b8add2;
}
#footer #mainFooterUpIcons #telegramRegions:hover #telegramRegionChannel {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  line-height: 1.5;
  color: #b8add2;
}
#footer #logoFooter > svg {
  margin-top: 25px;
  color: rosybrown;
}
#footer #logoFooter > svg > path:first-child {
  fill: #fff;
}
#footer ul {
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}
#footer a {
  text-decoration: none;
}
#footer ul > li:nth-child(7) {
  width: 1.5ch;
  text-align: left;
}
#footer ul > li a {
  color: #f4eeff;
}
#footer ul > li #contact {
  color: #ffb237;
}
#footer ul > li .footerHeader {
  color: #9a6aff;
  font-weight: 600;
}
#footer #mainFooterDown {
  display: flex;
  gap: 0px;
  margin: 40px 50px 10px;
  align-items: cent;
  justify-content: space-between;
}
#footer #downFirstCol {
  display: flex;
  align-items: center;
  gap: 20px;
}
#footer #downFirstCol #changeColor {
  width: 56px;
  height: 32px;
  border-radius: 25px;
  display: inline-flex;
  background-color: #807a90;
  position: relative;
}
#footer #downFirstCol #changeColor:hover {
  background-image: linear-gradient(to right, #807a90, #9a6aff);
}
#footer #downFirstCol #changeColor input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 3;
}
#footer #downFirstCol #changeColor #likeMoon {
  height: 20px;
  width: 20px;
  margin: 3px;
  padding: 3px;
  border-radius: 50px;
  background-color: #27262c;
  fill: #9a6aff;
}
#footer #downFirstCol #changeColor #warningNo {
  position: relative;
  height: 10x;
  width: 20px;
  margin: 3px;
  fill: #27262c;
}
#footer #downFirstCol #changeColor #warning {
  position: relative;
  z-index: 4;
  fill: #ffb237;
  display: none;
  height: 10px;
  width: 20px;
  margin: 3px;
  padding: 3px;
  border-radius: 50px;
  background-color: #27262c;
}
#footer #buyCake {
  display: flex;
  gap: 20px;
  align-items: center;
}
#footer #hr {
  border-bottom: 1px solid #343434;
  margin: 0 50px;
}
#footer #cakePrice a {
  color: #b8add2;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
#footer #cakePrice svg:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}
#footer #lang {
  position: relative;
}
#footer #lang:hover #langBtn button {
  display: block;
}
#footer #lang #langEn {
  color: #b8add2;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  background: none;
  border: none;
  gap: 5px;
  cursor: pointer;
}
#footer #lang #langEn svg {
  fill: #b8add2;
}
#footer #lang #langBtn {
  position: absolute;
  z-index: 1;
  display: inline-flex;
  bottom: 30px;
  left: 0px;
  right: 20px;
  flex-direction: column;
  align-items: center;
  max-height: 290px;
  width: 250px;
  overflow-x: hidden;
  /* width */
  /* Track */
  /* Handle */
}
#footer #lang #langBtn:hover {
  display: block;
  position: absolute;
  z-index: 10;
}
#footer #lang #langBtn::-webkit-scrollbar {
  width: 8px;
}
#footer #lang #langBtn::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(88, 88, 88);
  border-radius: 2px;
}
#footer #lang #langBtn::-webkit-scrollbar-thumb {
  background-color: #b8add2;
  border-radius: 10px;
}
#footer #lang #langBtn::-webkit-scrollbar-button {
  height: 10px;
}
#footer #lang #langBtn:hover {
  border-radius: 20px;
  width: 160px;
  position: relative;
}
#footer #lang #langBtn .languages {
  display: none;
  color: #f4eeff;
  text-align: center;
  font-size: 16px;
  height: 200px;
  border: none;
  padding: 0 20px;
  background-color: #27262c;
}
#footer #lang #langBtn .languages:hover {
  text-align: center;
  display: block;
  cursor: pointer;
  color: #b8add2;
}
#footer #buyCakeBtn {
  display: flex;
  gap: 8px;
  background-color: #1fc7d4;
  border-radius: 20px;
  padding: 2px 16px 0;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #000;
}
#footer #buyCakeBtn svg {
  margin-top: 3px;
}
#footer #buyCakeBtn:hover {
  background-color: #41a0a7;
}
#footer #scrollUp {
  display: inline-flex;
  width: 48px;
  height: 48px;
  z-index: 999;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  background-color: #1fc7d4;
  position: fixed;
  bottom: 110px;
  right: 70px;
  cursor: pointer;
}
#footer #scrollUp:hover {
  background-color: #41a0a7;
}
@media (min-width: 852px) {
  #footer #on-sm-screen {
    display: none;
  }
  #footer #mainFooter-smScreens {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 851px) {
  #footer #on-sm-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #27262c;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-top: 1px solid #343434;
  }
  #footer #on-sm-screen #trade,
  #footer #on-sm-screen #earn,
  #footer #on-sm-screen #win,
  #footer #on-sm-screen #nft,
  #footer #on-sm-screen #hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    color: #b8add2;
  }
  #footer #on-sm-screen #trade svg,
  #footer #on-sm-screen #earn svg,
  #footer #on-sm-screen #win svg,
  #footer #on-sm-screen #nft svg,
  #footer #on-sm-screen #hamburger svg {
    fill: #b8add2;
  }
  #footer #pancakeFlyingBottom,
  #footer #pancakeFlyingTop {
    display: none;
  }
  #footer #on-sm-screen {
    padding: 10px 90px;
  }
  #footer #mainFooter-smScreens {
    display: none;
  }
}
@media (max-width: 575px) {
  #footer #on-sm-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #27262c;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-top: 1px solid #343434;
  }
  #footer #on-sm-screen #trade,
  #footer #on-sm-screen #earn,
  #footer #on-sm-screen #win,
  #footer #on-sm-screen #nft,
  #footer #on-sm-screen #hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    color: #b8add2;
  }
  #footer #on-sm-screen #trade svg,
  #footer #on-sm-screen #earn svg,
  #footer #on-sm-screen #win svg,
  #footer #on-sm-screen #nft svg,
  #footer #on-sm-screen #hamburger svg {
    fill: #b8add2;
  }
  #footer #pancakeFlyingBottom,
  #footer #pancakeFlyingTop {
    display: none;
  }
  #footer #mainFooterUpLinks {
    display: flex;
    flex-direction: column;
  }
  #footer #logoFooter {
    order: 1;
  }
  #footer #mainfooterContents {
    display: none;
  }
  #footer #mainFooter-smScreens {
    display: flex;
    flex-direction: column;
  }
  #footer #mainFooter-smScreens #logoFooter {
    order: 1;
    margin: 20px 25px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #343434;
  }
  #footer #mainFooter-smScreens #mainFooterDown {
    display: flex;
    flex-direction: column;
    order: 2;
    border-bottom: 1px solid #343434;
    margin: 0 10px;
    padding: 30px 10px;
  }
  #footer #mainFooter-smScreens #mainFooterDown #buyCake {
    order: 1;
    justify-content: space-between;
  }
  #footer #mainFooter-smScreens #mainFooterDown #downFirstCol {
    order: 2;
    gap: 20px;
    margin-top: 30px;
  }
  #footer #mainFooter-smScreens #about,
  #footer #mainFooter-smScreens #help,
  #footer #mainFooter-smScreens #developers {
    order: 3;
    margin-left: 25px;
  }
  #footer #mainFooter-smScreens #mainFooterUpIcons {
    order: 4;
    padding-left: 25px;
  }
  #footer #mainFooter-smScreens #hr {
    order: 5;
    margin-bottom: 90px;
    margin-left: 25px;
  }
  #footer #startInSecondsMain {
    margin: 0 25px;
  }
  #footer #startInSecondsMain h1 {
    font-size: 30px;
    font-weight: 600;
  }
  #footer #scrollUp {
    right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
