@media screen and (max-width: 852px) {
  .paragraphOne, .paragraphTwo {
    align-self: center;
  }
}
html {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

.tradeAnything {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.paragraphOne, .paragraphTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  align-self: flex-start;
}

.paragraphTwo {
  margin-top: 10rem;
}

.containerOfCoinImages, .containerOfSecondImages {
  max-height: 512px;
  max-width: 512px;
  position: relative;
  width: 252px;
}

.containerOfSecondImages {
  margin-top: 10rem;
}

.images {
  width: 252px;
  height: 252px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  vertical-align: baseline;
}

.secondPart {
  background-color: #3c3742;
  width: 100%;
  padding-bottom: 48px;
}

.secondPart > svg {
  fill: #08060b;
  width: 100%;
  height: 100%;
  max-height: 48px;
}

.svg svg {
  fill: #201335;
  width: 100%;
  height: 100%;
  max-height: 48px;
}

.earnPassive {
  display: flex;
  justify-content: center;
}

.tradeNow,
.explore {
  display: flex;
  align-items: center;
}

span,
h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 24px;
}

span {
  color: #9a6aff;
}

h2 {
  color: #f4eeff;
}

.subTitle {
  color: #b8add2;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}

.buttonTrade,
.buttonExplore {
  font-size: 16px;
  font-weight: 600;
  line-height: 0;
  margin-bottom: 0;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  letter-spacing: 0.03em;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 48px;
  padding: 0px 24px;
  background-color: #1fc7d4;
  color: #191326;
  margin-right: 16px;
}

a {
  text-decoration: none;
}

.learnLink {
  color: #1fc7d4;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
}

.containerOfCoinImages :nth-child(1), .containerOfSecondImages :nth-child(1) {
  animation: 3s ease-in-out 1s infinite normal none running image;
}
@keyframes image {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(3px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.containerOfCoinImages :nth-child(2), .containerOfSecondImages :nth-child(2) {
  animation: 3s ease-in-out 1s infinite normal none running image;
}
@keyframes image {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.containerOfCoinImages :nth-child(3), .containerOfSecondImages :nth-child(3) {
  animation: 3s ease-in-out 1s infinite normal none running image;
}
@keyframes image {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(6px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.containerOfSecondImages :nth-child(1) {
  animation: 3s ease-in-out 1s infinite normal none running image;
}
@keyframes image {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(3px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.containerOfSecondImages :nth-child(2) {
  animation: 3s ease-in-out 1s infinite normal none running image;
}
@keyframes image {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.containerOfSecondImages :nth-child(3) {
  animation: 3s ease-in-out 1s infinite normal none running image;
}
@keyframes image {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(6px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 968px;
  margin-inline: auto;
}

.table-header,
.table-body {
  position: relative;
}

.table-header {
  display: flex;
  margin-bottom: 24px;
}

.table-body {
  height: 240px;
  overflow: hidden;
}
@media screen and (min-width: 576px) {
  .table-body {
    height: 80px;
  }
}

.table-heading, .table-heading2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 24px;
}

.head,
.number,
.subhead {
  visibility: hidden;
}

.table-content, .table-content2 {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 32px;
  position: relative;
  height: 80px;
}

#heading-b,
#body-b {
  opacity: 1;
}

.content1, .content2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content2 {
  border-left: 1px solid #262130;
  padding-left: 16px;
}

.head {
  color: #9a6aff;
}

.number {
  color: #f4eeff;
}

.subhead {
  color: #b8add2;
}

.first-table {
  width: 853px;
  opacity: 1;
}

.second-table {
  opacity: 0;
}

.arrow-button, .arrow-button2 {
  display: flex;
  background-color: transparent;
  border: none;
  width: 48px;
  padding: 0px;
  margin-inline: 15px;
}

.arrow, .arrow2 {
  align-self: center;
  fill: #b8add2;
}

.fade-in {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut 1.5s;
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
body.bgColor {
  background-color: white;
}

body.bgColor .secondPart {
  background-color: #e9eaeb;
}

body.bgColor .secondPart > svg {
  fill: #faf9fa;
}

body.bgColor .svg svg {
  fill: #d8cbed;
}

body.bgColor span {
  color: #7645d9;
}

body.bgColor h2 {
  color: #280d5f;
}

body.bgColor .subTitle {
  color: #7a6eaa;
}

body.bgColor .buttonTrade,
body.bgColor .buttonExplore {
  background-color: #1fc7d4;
  color: #fff;
}

body.bgColor .learnLink {
  color: #1fc7d4;
}

body.bgColor .content2 {
  border-left: 1px solid #d7caec;
}

body.bgColor .head {
  color: #7645d9;
}

body.bgColor .number {
  color: #280d5f;
}

body.bgColor .subhead {
  color: #7a6eaa;
}

body.bgColor .arrow, body.bgColor .arrow2 {
  fill: #7a6eaa;
}

@media screen and (max-width: 852px) {
  .tradeAnything {
    flex-direction: column-reverse;
    align-items: center;
  }
  .paragraphOne, .paragraphTwo {
    align-self: center;
    margin-right: 64px;
    margin-top: 5rem;
  }
  .paragraphTwo {
    margin-top: 0;
    margin-left: 64px;
    margin-top: 10rem;
  }
  .earnPassive {
    flex-direction: row-reverse;
    align-items: center;
  }
  .containerOfCoinImages, .containerOfSecondImages {
    height: 192px;
    width: 192px;
    margin-bottom: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .images {
    width: 160px;
    height: 160px;
  }
  .containerOfSecondImages {
    margin-top: 35rem;
  }
  .first-table {
    width: 652px;
  }
}
@media screen and (max-width: 576px) {
  .table {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2rem;
  }
  .table-content, .table-content2 {
    grid-template-columns: repeat(2, auto);
    gap: 7rem;
    height: 550px;
  }
  .first-table {
    width: 434px;
  }
  .content2 {
    border-left: none;
    padding-left: 0px;
  }
}

/*# sourceMappingURL=style_main.css.map */
