// Footer related
@use "fcolors.scss" as c;

// Imports
@import "colors"; // og colors
@import "reset"; // minimal reset ruleset

//BREAK-POINTS
$screen-xs: 23.125rem; // XSmall. Window width >=370px
$screen-sm: 36rem; // Small. Window width >=576px
$screen-md: 53.25rem; // Medium. Window width >=852px
$screen-lg: 60.5rem; // Large. Window width >=968px
$screen-xl: 67.5rem; // XLarge. Window width >=1080px

// GLOBAL
html {
  scroll-behavior: smooth;
}

body {
  background-color: $colors-dark-background;
}

::-webkit-scrollbar {
  width: 8px;
  &-thumb {
    background: $colors-dark-textSubtle;
    border-radius: 0.5rem;
  }
  &-track {
    box-shadow: inset 0 0 0.313rem $colors-dark-input;
    border-radius: 0.625rem;
  }
}

// MIXINS

// for Break-Points
// XSmall devices
@mixin xs {
  @media (min-width: #{$screen-xs}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

// XLarge devices
@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}

// for the rest
@mixin graphicPositioning {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@mixin heroTextSizing($textSize: 1.25rem) {
  font-size: $textSize;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

@mixin baseButton {
  position: relative;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  height: 3rem;
  padding: 0 1.5rem;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}

// APP
.app {
  .mobile-nav-items {
    display: block;
    @include md {
      display: none;
    }

    &-container {
      display: flex;
      justify-content: space-around;
      position: fixed;
      bottom: 0px;
      width: 100%;
      padding: 0.313rem 0.5rem 0rem 0.5rem;
      border-top: 0.063rem solid $colors-dark-cardBorder;
      background: $colors-dark-backgroundAlt;
      z-index: 20;

      .menu-item {
        a {
          display: flex;
          flex-flow: column;
          text-decoration: none;
          align-items: center;
          justify-content: center;
          color: $colors-dark-textSubtle;
          font-size: 0.625rem;
          height: 2.75rem;
          gap: 0.125rem;

          img {
            // height: 1.375rem;
            // width: 1.313rem;
            height: 1.313rem;
            width: 1.25rem;
          }
        }
      }
    }
  }
}
// HEAD - AREA STYLING
.content-wrapper {
}

// Home - 4
#home-4 {
  //mixins for text properties
  @mixin text($fontSize, $fontWeight, $lineHeight, $marginBottom) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    margin-bottom: $marginBottom;
  }
  //mixin for animation properties
  @mixin animation($animationName, $parameterX, $parameterY) {
    @keyframes #{$animationName} {
      0% {
        transform: translate(0px, 0px);
      }
      50% {
        transform: translate($parameterX, $parameterY);
      }
      100% {
        transform: translate(0px, 0px);
      }
    }
  }
  @media screen and (max-width: 852px) {
    .paragraphOne {
      align-self: center;
    }
  }
  .tradeAnything {
    display: flex;
    width: 100%;
    max-width: 968px;
    flex-flow: column-reverse;
    align-items: flex-end;
    justify-content: center;
    padding-block: 16px;
    min-height: auto;
    overflow: hidden;
    margin-inline: auto;
  }
  @media screen and (min-width: 852px) {
    .tradeAnything {
      flex-flow: row;
      align-items: center;
    }
    .images {
      left: 0;
      right: auto;
    }
  }
  @media screen and (min-width: 576px) {
    .tradeAnything {
      padding-block: 32px;
    }
  }
  @media screen and (min-width: 370px) {
    .tradeAnything {
      padding-inline: 24px;
    }
  }
  .paragraphOne {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    align-self: flex-start;

    h2 {
      font-size: 32px;
      font-weight: 600;
      line-height: 1.1;
    }

    .subTitle {
      color: #b8add2;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 24px;
    }
  }
  @media screen and (min-width: 852px) {
    .paragraphOne {
      align-self: center;
      margin-right: 64px;
    }
  }

  @media screen and (min-width: 968px) {
    .paragraphOne h2 {
      font-size: 40px;
    }
  }

  .paragraphTwo {
    @extend .paragraphOne;
    margin-top: 1rem;
  }
  .containerOfCoinImages {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    position: relative;
    .containerOfCoinImages-container {
      position: relative;
      max-height: 512px;
      height: 192px;
      img {
        height: 192px;
      }
    }
  }
  @media screen and (min-width: 852px) {
    .containerOfCoinImages {
      flex: 1 1 0%;
      .containerOfCoinImages-container {
        height: 428px;
        img {
          height: 428px;
        }
      }
    }
  }
  .containerOfSecondImages {
    @extend .containerOfCoinImages;
    margin-top: 1rem;
  }
  .images {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    img {
      max-height: 428px;
      width: auto;
      height: auto;
    }
  }
  .secondPart {
    position: relative;
    overflow: hidden;
    background-color: $colors-dark-backgroundDisabled;
    width: 100%;
    padding-bottom: 48px;
  }

  .secondPart > svg {
    position: absolute;
    top: 0;
    fill: $colors-dark-background;
    width: 150%;
    height: 100%;
    max-height: 48px;
  }
  .svg svg {
    fill: #201335;
    width: 100%;
    height: 100%;
    max-height: 48px;
  }
  .earnPassive {
    display: flex;
    justify-content: center;
    // margin-top: 8rem;
    // margin-bottom: 5rem;
  }

  .tradeNow,
  .explore {
    display: flex;
    align-items: center;
  }
  span,
  h2 {
    @include text(32px, 600, 1.5, 24px);
  }
  span {
    color: $colors-dark-secondary;
  }
  h2 {
    color: $colors-dark-text;
  }
  .subTitle {
    color: $colors-dark-textSubtle;
    @include text(16px, 400, 1.5, 24px);
  }
  .buttonTrade,
  .buttonExplore {
    @include text(16px, 600, 0, 0);
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    letter-spacing: 0.03em;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: $colors-dark-primary;
    color: $colors-dark-invertedContrast;
    margin-right: 16px;
  }
  a {
    text-decoration: none;
  }
  .learnLink {
    color: $colors-dark-primary;
    @include text(16px, 600, 1.5, 0);
  }

  .containerOfCoinImages-container :nth-child(1) {
    animation: 3s ease-in-out 1s infinite normal none running image;
    @include animation(image, 3px, 15px);
  }

  .containerOfCoinImages-container :nth-child(2) {
    animation: 3s ease-in-out 1s infinite normal none running image;
    @include animation(image, 5px, 10px);
  }

  .containerOfCoinImages-container :nth-child(3) {
    animation: 3s ease-in-out 1s infinite normal none running image;
    @include animation(image, 6px, 5px);
  }

  .containerOfSecondImages :nth-child(1) {
    animation: 3s ease-in-out 1s infinite normal none running image;
    @include animation(image, 3px, 15px);
  }

  .containerOfSecondImages :nth-child(2) {
    animation: 3s ease-in-out 1s infinite normal none running image;
    @include animation(image, 5px, 10px);
  }

  .containerOfSecondImages :nth-child(3) {
    animation: 3s ease-in-out 1s infinite normal none running image;
    @include animation(image, 6px, 5px);
  }
  .table {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .table-header,
  .table-body {
    position: relative;
  }
  .table-header {
    display: flex;
    margin-bottom: 24px;
  }
  .table-body {
    height: 240px;
    overflow: hidden;
    @media screen and (min-width: 576px) {
      height: 80px;
    }
  }

  .table-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 24px;
  }
  .table-heading2 {
    @extend .table-heading;
  }
  .head,
  .number,
  .subhead {
    visibility: hidden;
  }
  .table-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 32px;
    position: relative;
  }

  @media screen and (min-width: 576px) {
    .table-content {
      gap: 16px;
      grid-template-columns: repeat(5, auto);
    }
  }

  @media screen and (min-width: 852px) {
    .table-content {
      gap: 32px;
    }
  }

  #heading-b,
  #body-b {
    opacity: 1;
    margin-top: -9px;
  }
  @media screen and (min-width: 576px) {
    #body-b {
      margin-top: 0px;
    }
  }

  .content1 {
    display: flex;
    flex-direction: column;
    gap: 0.5px;
  }
  .content2 {
    @extend .content1;
    border-left: 1px solid $colors-dark-inputSecondary;
    padding-left: 16px;
  }
  @media screen and (min-width: 576px) {
    .content1 {
      gap: 0.5rem;
    }
    .content2 {
      @extend .content1;
    }
  }

  .head {
    color: $colors-dark-secondary;
  }
  .number {
    color: $colors-dark-text;
  }
  .subhead {
    color: $colors-dark-textSubtle;
  }
  .first-table {
    width: 853px;
    opacity: 1;
  }
  .second-table {
    opacity: 0;
  }
  .arrow-button {
    display: flex;
    background-color: transparent;
    border: none;
    width: 48px;
    padding: 0px;
    margin-inline: 15px;
  }

  .arrow-button2 {
    @extend .arrow-button;
  }
  .arrow {
    align-self: center;
    fill: $colors-dark-textSubtle;
  }
  .arrow2 {
    @extend .arrow;
  }
  .fade-in {
    animation: fadeIn 1.5s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fade-out {
    animation: fadeOut 1.5s;
  }
  @keyframes fadeOut {
    100% {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
  }

  //theme adjustment

  body.bgColor {
    background-color: white;
  }
  body.bgColor .secondPart {
    background-color: $colors-light-backgroundDisabled;
  }
  body.bgColor .secondPart > svg {
    fill: $colors-light-background;
  }
  body.bgColor .svg svg {
    fill: #d8cbed;
  }

  body.bgColor span {
    color: $colors-light-secondary;
  }

  body.bgColor h2 {
    color: $colors-light-text;
  }

  body.bgColor .subTitle {
    color: $colors-light-textSubtle;
  }

  body.bgColor .buttonTrade,
  body.bgColor .buttonExplore {
    background-color: $colors-light-primary;
    color: $colors-light-invertedContrast;
  }
  body.bgColor .learnLink {
    color: $colors-light-primary;
  }

  body.bgColor .content2 {
    border-left: 1px solid $colors-light-inputSecondary;
  }

  body.bgColor .head {
    color: $colors-light-secondary;
  }

  body.bgColor .number {
    color: $colors-light-text;
  }

  body.bgColor .subhead {
    color: $colors-light-textSubtle;
  }

  body.bgColor .arrow {
    fill: $colors-light-textSubtle;
  }

  @media screen and (max-width: 852px) {
    .paragraphOne {
      align-self: center;
      margin-right: 64px;
      margin-top: 5rem;
    }
    .paragraphTwo {
      @extend .paragraphOne;
      margin-top: 0;
      margin-left: 64px;
      margin-top: 1rem;
    }
    .earnPassive {
      flex-direction: row-reverse;
      align-items: center;
    }
    .containerOfSecondImages {
      @extend .containerOfCoinImages;
      margin-top: 35rem;
    }
    .first-table {
      width: 652px;
    }
  }

  @media screen and (max-width: 576px) {
    .table {
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 2rem;
    }
    .first-table {
      width: 434px;
    }
    .content2 {
      border-left: none;
      padding-left: 0px;
    }
  }
  .secontPart-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: 100%;
    max-width: 968px;
    padding-block: 16px;
  }
  @media screen and (min-width: 968px) {
    padding-block: 48px;
  }
  @media screen and (min-width: 576px) {
    padding-block: 32px;
  }
  @media screen and (min-width: 370) {
    padding-block: 24px;
  }
}
// Footer related
#footer {
  .bgColor {
    background-color: #fff;
  }

  .btn-color-change {
    color: #fff;
    fill: #fff;
  }

  .active-sun {
    fill: #ffb237 !important;
    height: 26px;
    width: 26px;
    margin: 3px;
    padding: 3px;
    border-radius: 50px;
    background-color: #27262c;
  }

  .disabled-moon {
    background-color: transparent !important;
    fill: #27262c !important;
  }

  .flyingCake {
    max-height: 100%;
    position: relative;
    animation-name: flyingcake;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    .cake {
      position: absolute;
    }

    .cake-right {
      right: 0px;
    }

    .cake-left {
      left: 0px;
    }
  }

  #pancakeFlyingTop {
    width: 100%;
    position: relative;
    bottom: 400px;
    margin-bottom: 400px;
  }
  #pancakeFlyingBottom {
    position: relative;
    margin-bottom: 60px;
  }

  @keyframes flyingcake {
    0% {
      left: 0;
      top: 0;
    }
    50% {
      left: 3;
      top: 20px;
    }
    100% {
      left: 0;
      top: 0;
    }
  }

  @mixin footerBg($bgColor) {
    width: 100%;
    background: $bgColor;
  }

  #startInSeconds {
    @include footerBg(c.$footerBgTop);
    position: relative;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    svg {
      position: relative;
      width: 300%;
      height: 300%;
      display: block;
      top: -450px;
      left: 0;
    }
  }

  #svgBg {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #startInSecondsMain {
    width: 100%;
    text-align: center;
    line-height: 1.5;
    h1 {
      font-size: 2.5rem;
    }
    h1,
    &:nth-child(2) {
      color: c.$color;
    }
    button {
      font-size: 16px;
      font-weight: 600;
      background-color: c.$btn_color;
      border: none;
      padding: 15px 30px;
      border-radius: 15px;
      cursor: pointer;
      &:hover {
        background-color: #41a0a7;
      }
    }
  }

  .cake-wrapper {
    position: relative;
    width: 100%;
  }

  .cake-container {
    position: absolute;
    width: 100%;
  }

  #learn {
    color: #1fc7d4;
    font-weight: 600;
  }

  #mainFooter {
    position: relative;
    z-index: 5;
    @include footerBg(c.$btm-bg-bg-change_color);
    margin-bottom: 0;
  }

  #startInWrapper {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    position: relative;
  }

  #startInContainer {
    display: flex;
    width: 100%;
    flex-flow: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 10px 0 70px;
  }

  img {
    width: 240px;
    height: 224px;
    margin: 0;
  }

  #mainfooterContents {
    padding: 30px;
    display: flex;
    flex-direction: column;
    #mainfooterContentsIn {
      max-width: 1200px;
      width: 100%;
      margin-inline: auto;
    }
  }

  #mainFooterUp {
    display: flex;
    flex-direction: column;
    // align-items: center;
  }

  @mixin footerGap($display, $gap) {
    display: $display;
    gap: $gap;
  }

  #mainFooterUpLinks {
    @include footerGap(flex, 0px);
    justify-content: space-between;
    // margin: 0 50px;
  }

  #mainFooterUpIcons {
    fill: c.$sm-icons_color;
    @include footerGap(flex, 25px);
    margin: 30px 0;
    #telegramRegions {
      position: relative;
      #telegramRegionChannel {
        display: none;
      }
      #telegramRegionChannel {
        position: relative;
        bottom: 30px;
        a {
          color: #b8add2;
        }
      }
      &:hover #telegramRegionChannel {
        display: inline-flex;
        flex-direction: column;
        text-align: left;
        position: relative;
        line-height: 1.5;
        color: #b8add2;
      }
    }
  }

  #logoFooter > svg {
    margin-top: 25px;
    color: rosybrown;
  }

  #logoFooter > svg > path:first-child {
    fill: c.$pancakes_color;
  }

  ul {
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
  }

  a {
    text-decoration: none;
  }

  ul > li:nth-child(7) {
    width: 1.5ch;
    text-align: left;
  }

  ul > li {
    a {
      color: c.$color;
    }
    #contact {
      color: c.$contact_color;
    }
    .footerHeader {
      color: c.$header_color;
      font-weight: 600;
    }
  }

  #mainFooterDown {
    @include footerGap(flex, 0px);
    margin: 40px 0px 10px;
    align-items: center;
    justify-content: space-between;
  }

  #downFirstCol {
    display: flex;
    align-items: center;
    gap: 20px;
    #changeColor {
      display: flex;
      place-items: center;
      width: 56px;
      height: 32px;
      border-radius: 25px;
      display: inline-flex;
      background-color: #807a90;
      &:hover {
        background-image: linear-gradient(to right, #807a90, #9a6aff);
      }
      position: relative;
      input {
        opacity: 0;
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 3;
      }

      #likeMoon {
        height: 26px;
        width: 26px;
        margin: 3px;
        padding: 3px;
        border-radius: 50px;
        background-color: #27262c;
        fill: #9a6aff;
      }

      #warningNo {
        position: relative;
        height: 26px;
        width: 26px;
        margin: 3px;
        fill: #27262c;
      }

      #warning {
        position: relative;
        z-index: 4;
        fill: #ffb237;
        display: none;
        height: 26px;
        width: 26px;
        margin: 3px;
        padding: 3px;
        border-radius: 50px;
        background-color: #27262c;
      }
    }
  }

  #buyCake {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  #hr {
    border-bottom: 1px solid #343434;
  }

  #cakePrice {
    a {
      color: c.$sm-icons_color;
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
    }
    svg {
      &:hover {
        transition: all 0.2s ease-in-out;
        transform: scale(1.2);
      }
    }
  }

  #lang {
    position: relative;
    &:hover {
      #langBtn {
        button {
          display: block;
        }
      }
    }

    #langEn {
      color: c.$sm-icons_color;
      display: inline-flex;
      align-items: center;
      font-weight: 600;
      background: none;
      border: none;
      gap: 5px;
      cursor: pointer;
      svg {
        fill: c.$sm-icons_color;
      }
    }

    #langBtn {
      position: absolute;
      z-index: 1;
      display: inline-flex;
      bottom: 30px;
      left: 0px;
      right: 20px;
      flex-direction: column;
      align-items: center;
      max-height: 290px;
      width: 250px;
      overflow-x: hidden;
      &:hover {
        display: block;
        position: absolute;
        z-index: 10;
      }
      /* width */
      &::-webkit-scrollbar {
        width: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px rgb(88, 88, 88);
        border-radius: 2px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background-color: #b8add2;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-button {
        height: 10px;
      }

      &:hover {
        border-radius: 20px;
        width: 160px;
        position: relative;
      }
      .languages {
        display: none;
        color: c.$color;
        text-align: center;
        font-size: 16px;
        height: 200px;
        border: none;
        padding: 0 20px;
        background-color: #27262c;
        &:hover {
          text-align: center;
          display: block;
          cursor: pointer;
          color: c.$sm-icons_color;
        }
      }
    }
  }

  #buyCakeBtn {
    @include footerGap(flex, 8px);
    background-color: c.$btn_color;
    border-radius: 20px;
    padding: 2px 16px 0;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #000;
    svg {
      margin-top: 3px;
    }
    &:hover {
      background-color: #41a0a7;
    }
  }

  $lg-screen: 968px;
  $md-screen: 852px;
  $sm-screen: 576px;

  @media (min-width: $md-screen) {
    #mainFooter-smScreens {
      display: none;
    }
  }

  @mixin sm-screen-items {
    #trade,
    #earn,
    #win,
    #nft,
    #hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: 10px;
      line-height: 1.5;
      color: c.$lang_color;
      svg {
        fill: c.$lang_color;
      }
    }
  }

  @mixin sm-screen-sizes {
    #pancakeFlyingBottom,
    #pancakeFlyingTop {
      display: none;
    }
    #startInSeconds svg {
      top: -360px;
    }
    #startInContainer {
      display: block;

      padding: 48px;
    }
    #mainfooterContents {
      padding-bottom: 60px;
    }
  }

  @media (min-width: $sm-screen) and (max-width: 851px) {
    @include sm-screen-sizes();
    #mainFooter-smScreens {
      display: none;
    }
  }

  @media (max-width: 575px) {
    @include sm-screen-sizes();
    #mainFooterUpLinks {
      display: flex;
      flex-direction: column;
    }
    #logoFooter {
      order: 1;
    }
    #mainfooterContents {
      display: none;
    }
    #mainFooter-smScreens {
      display: flex;
      flex-direction: column;
      #logoFooter {
        order: 1;
        margin: 20px 25px 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #343434;
      }
      #mainFooterDown {
        display: flex;
        flex-direction: column;
        order: 2;
        border-bottom: 1px solid #343434;
        margin: 0 10px;
        padding: 30px 10px;
        #buyCake {
          order: 1;
          justify-content: space-between;
        }
        #downFirstCol {
          order: 2;
          gap: 20px;
          margin-top: 30px;
        }
      }
      #about,
      #help,
      #developers {
        order: 3;
        margin-left: 25px;
      }
      #mainFooterUpIcons {
        order: 4;
        padding-left: 25px;
      }
      #hr {
        order: 5;
        margin-bottom: 90px;
        margin-left: 25px;
      }
    }
    #startInSecondsMain {
      width: 100%;
      h1 {
        font-size: 30px;
        font-weight: 600;
      }
    }
  }
}

// Scroll to top
#scrollUp {
  display: none;
  width: 48px;
  height: 48px;
  z-index: 999;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  background-color: c.$btn_color;
  position: fixed;
  bottom: 110px;
  right: 70px;
  cursor: pointer;
  &:hover {
    background-color: #41a0a7;
  }
}

@media (max-width: 575px) {
  #scrollUp {
    right: 20px;
  }
}
