// Imports
@import "colors"; // og colors
//mixins for text properties
@mixin text($fontSize, $fontWeight, $lineHeight, $marginBottom) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  margin-bottom: $marginBottom;
}

.tradeAnything {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.paragraphOne{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
}
.paragraphTwo{
  @extend .paragraphOne;
  margin-top: 10rem;
}
.containerOfCoinImages {
  max-height: 512px;
  max-width: 512px;
  position: relative;
  width: 252px;
 
}
.containerOfSecondImages {
 @extend .containerOfCoinImages;
  margin-top:10rem;
}
.images{
  width: 252px;
  height: 252px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  vertical-align: baseline;
 
}
.secondPart{
  background-color: $colors-dark-backgroundDisabled;
}
.earnPassive {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom:5rem;
}
/*
.main-content svg {
  fill: #08060b;
}
.svgImage svg {
  fill: #08060b;
}*/

.tradeNow,.explore{
  display: flex;
  align-items: center;
}
span,
h2 {
  @include text(32px, 600, 1.5, 24px);
}
span {
  color: $colors-dark-secondary;
}
h2 {
  color: $colors-dark-text;
}
.subTitle{
  color: $colors-dark-textSubtle;
  @include text(16px, 400, 1.5, 24px);
}
.buttonTrade,.buttonExplore {
  @include text(16px, 600, 0, 0);
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  letter-spacing: 0.03em;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 48px;
  padding: 0px 24px;
  background-color: $colors-dark-primary;
  color: $colors-dark-invertedContrast;
  margin-right: 16px;
}
a {
  text-decoration: none;
}
.learnLink {
  color: $colors-dark-primary;
  @include text(16px, 600, 1.5, 0);
}


//mixin for animation properties
@mixin animation($animationName, $parameterX, $parameterY) {
  @keyframes #{$animationName} {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate($parameterX, $parameterY);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
}
.containerOfCoinImages :nth-child(1) {
  animation: 3s ease-in-out 1s infinite normal none running image;
  @include animation(image, 3px, 15px);
}

.containerOfCoinImages :nth-child(2) {
  animation: 3s ease-in-out 1s infinite normal none running image;
  @include animation(image, 5px, 10px);
}

.containerOfCoinImages :nth-child(3) {
  animation: 3s ease-in-out 1s infinite normal none running image;
  @include animation(image, 6px, 5px);
}

.containerOfSecondImages :nth-child(1) {
  animation: 3s ease-in-out 1s infinite normal none running image;
   @include animation(image, 3px, 15px);
}
    
.containerOfSecondImages :nth-child(2) {
  animation: 3s ease-in-out 1s infinite normal none running image;
  @include animation(image, 5px, 10px);
}
    
  .containerOfSecondImages :nth-child(3) {
  animation: 3s ease-in-out 1s infinite normal none running image;
   @include animation(image, 6px, 5px);
}

.table-heading {
  display: flex;
  align-items: center;
  margin-top: 20rem;
  gap: 1rem;
}
.table-content {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1rem;
}

.content1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.content2 {
  @extend .content1;
  border-left: 1px solid $colors-dark-inputSecondary;
  padding-left: 16px;
}

.head {
  color: $colors-dark-secondary;
}
.number {
  color: $colors-dark-text;
}
.subhead {
  color: $colors-dark-textSubtle;
}
.second-table {
  display: none;
}
